<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>BlueEdTech: Projeto Pokédex</title>
  </head>
  <body>
    <header>
      <!--  <nav> É utilizado quando precisamos representar um agrupamento de links de navegação, que, por sua vez, são criados com os elementos <ul>, <li> e <a>. -->
      <nav>
        <!-- "SRC" é um atributo especifica a localização (URL) do recurso externo.src -->
        <img
          src="/img/pokedex.png"
          class="img"
          alt="Logo tradicional Pokédex"
        />
        <!-- <ul> É lista não ordenada -->
        <ul>
          <li>
            <!-- <a>  Descrever um link, conectando os diversos documentos de um site e permitindo a navegação por esse conteúdo. Normalmente esses documentos estão relacionados por compartilharem um assunto em comum. É uma âncora: usado para ligar a outro recurso web -->
            <a href="/">Home</a>
            <!-- o atributo "HREF" é especifica o destino do link:-->
          </li>
          <li>
            <a href="/cadastro">Cadastro</a>
          </li>
        </ul>
      </nav>
    </header>

    <% if(message != "") { %>
    <section class="message">
      <p><%= message %></p>
      <span class="close">&times;</span>
    </section>
    <% } %>

    <main class="index">
      <% pokedex.forEach((pokedex, find) => { %>
      <section class="wrapper">
        <article class="card_content">
          <a href="/detalhes/<%= find %>"
            ><img class="img" src="<%= pokedex.photo %>"
          /></a>
          <p class="name"><%= pokedex.name %></p>
          <p class="type"><%= pokedex.type %></p>
        </article>
      </section>
      <% }) %>
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>
